# This is an example of a .tfvars file.
# You should create a terraform.tfvars file and populate it with your own values.

# Proxmox API URL
# pm_api_url = "https://localhost:8006/api2/json"

# Enable the stealth VM
# enable_stealth_vm = false

# Path to the Windows ISO file
# windows_iso = ""

# PCI ID of the GPU to pass through
# gpu_pci_id = ""

# Hyper-V vendor ID (amd or intel)
# hv_vendor_id = "amd"

# MAC address of the physical network card
# real_mac = ""

# SMBIOS UUID
# smbios_uuid = ""

# Proxmox host to deploy the VM on
# proxmox_host = ""
