# This is an example of a .tfvars file.
# You should create a terraform.tfvars file and populate it with your own values.

# Proxmox API URL
# pm_api_url = "https://localhost:8006/api2/json"

# Enable the stealth VM
# enable_stealth_vm = false

# Path to the Windows ISO file
# windows_iso = ""

# PCI ID of the GPU to pass through
# gpu_pci_id = ""

# Hyper-V vendor ID (amd or intel)
# hv_vendor_id = "amd"

# MAC address of the physical network card
# real_mac = ""

# SMBIOS UUID
# smbios_uuid = ""

# Proxmox host to deploy the VM on
# proxmox_host = ""

# Test VM variables
# test_vm_name = "pfsense"
# test_vm_clone = "pfsense-template"
# test_vm_vmid = 101
# test_vm_memory = 2048
# test_vm_sockets = 1
# test_vm_cores = 2
# test_vm_os_type = "other"
# test_vm_networks = [
#   {
#     model  = "virtio"
#     bridge = "vmbr0"
#   },
#   {
#     model  = "virtio"
#     bridge = "vmbr1"
#   },
#   {
#     model  = "virtio"
#     bridge = "vmbr2"
#     tag    = 10
#   }
# ]

# Test LXC variables
# test_lxc_hostname = "lxc-with-docker"
# test_lxc_vmid = 102
# test_lxc_memory = 2048
# test_lxc_cores = 1
