auth:
  rootPassword: {{ openldap_service_password }}
  adminPassword: {{ openldap_service_admin_password }}
customLdif: |
{{ lookup('file', '../files/bootstrap.ldif') | indent(2) }}
persistence:
  enabled: true
  storageClassName: "longhorn"
  size: 8Gi
