# Terraform files
.terraform/
.terraform.lock.hcl
*.tfvars
*.tfstate
*.tfstate.backup
*.tfplan

# SOPS files
*.sops.yml
*.sops.json
*.sops.ini
*.sops.dotenv

# Environment files
.env

# Secret files
*secret*.yml
*secret*.yaml
*secrets*.yml
*secrets*.yaml

# Homelab importer
tools/homelab-importer/.env
terraform_1.5.7_linux_amd64.zip

# Python artifacts
__pycache__/
*.py[cod]
*$py.class
.coverage

# Private configurations for Gitea
ansible/group_vars/
ansible/inventory/
ldap.toml

# gitleaks report
gitleaks-report.json

# Virtual environment
.venv/

# Private configuration
/private/
