# Terraform state file
*.tfstate
*.tfstate.backup

# Terraform plan file
*.tfplan

# Terraform provider plugins
.terraform/

# Terraform lock file
.terraform.lock.hcl

# .tfvars files should be ignored since they can contain sensitive values
*.tfvars
*.tfvars.json
