apiVersion: v1
kind: ConfigMap
metadata:
  name: main-config
data:
  domain_name: "{{ domain_root }}"
  apps_subdomain: "{{ apps_subdomain }}"
  admin_user: "{{ admin_user }}"
  k3s_vip: "{{ k3s_vip }}"
  cluster_cidr: "{{ cluster_cidr }}"
  service_cidr: "{{ service_cidr }}"
  proxmox_host_ip: "{{ proxmox_host_ip }}"
  proxmox_host_netmask: "{{ proxmox_host_netmask }}"
  proxmox_host_gateway: "{{ proxmox_host_gateway }}"
  proxmox_node: "{{ proxmox_node }}"
  proxmox_storage: "{{ proxmox_storage }}"
  proxmox_bridge: "{{ proxmox_bridge }}"
  pm_api_url: "{{ pm_api_url }}"
  k3s_version: "{{ k3s_cluster_version }}"
  k3s_master_count: "{{ k3s_master_count }}"
  k3s_worker_count: "{{ k3s_worker_count }}"
  k3s_vm_memory: "{{ k3s_vm_memory }}"
  k3s_vm_cores: "{{ k3s_vm_cores }}"
  k3s_vm_disk: "{{ k3s_vm_disk }}"
  k3s_vm_vlan: "{{ k3s_vm_vlan }}"
  k3s_ssh_user: "{{ k3s_ssh_user }}"
  k3s_cluster_name: "{{ k3s_cluster_name }}"
  k3s_cluster_domain: "{{ k3s_cluster_domain }}"
  k3s_cluster_dns: "{{ k3s_cluster_dns }}"
  k3s_master_prefix: "{{ k3s_master_prefix }}"
  k3s_worker_prefix: "{{ k3s_worker_prefix }}"
  template_name: "{{ template_name }}"
  template_vmid: "{{ template_vmid }}"
  os_image_url: "{{ os_image_url }}"
  network_vlan_tag: "{{ network_vlan_tag }}"
  network_cidr: "{{ network_cidr }}"
  terraform_test_ssh_public_key: "{{ terraform_test_ssh_public_key }}"
  terraform_test_k3s_master_disk_size: "{{ terraform_test_k3s_master_disk_size }}"
  terraform_test_k3s_worker_disk_size: "{{ terraform_test_k3s_worker_disk_size }}"
