apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: coder-ingress
  namespace: coder
  annotations:
    kubernetes.io/ingress.class: traefik-external
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`coder.{{ domain }}`)
      kind: Rule
      services:
        - name: coder-coder
          port: 80
      middlewares:
        - name: authelia-forward-auth
          namespace: security
  tls:
    secretName: coder-tls
