gitea:
  admin:
    existingSecret: "{{ lookup('community.hashi_vault.vault_read', 'secret/homelab/gitea/admin') }}"
  persistence:
    enabled: true
    storageClassName: "longhorn"
    size: 10Gi
  ingress:
    enabled: false # We will use an IngressRoute instead
  service:
    http:
      port: 3000
    ssh:
      port: 22
  # postgresql-ha:
  #   enabled: true
  #   postgresql:
  #     username: gitea
  #     password: "{{ gitea_db_password }}"
  #     database: gitea
  #     repmgrUsername: repmgr
  #     repmgrPassword: "{{ gitea_repmgr_password }}"
  #   persistence:
  #     storageClassName: "longhorn"
  #     size: 8Gi
  #   volumePermissions:
  #     enabled: true
  #   resources:
  #     requests:
  #       cpu: 250m
  #       memory: 512Mi
  #     limits:
  #       cpu: 1
  #       memory: 2Gi
  postgresql:
    auth:
      username: gitea
      password: "{{ lookup('community.hashi_vault.vault_read', 'secret/homelab/gitea/db_password') }}"
      database: gitea
    primary:
      persistence:
        enabled: true
        storageClass: "longhorn"
        size: 8Gi
      resources:
        requests:
          cpu: 250m
          memory: 512Mi
        limits:
          cpu: 1
          memory: 2Gi
