apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: grafana-ingress
  namespace: monitoring
  annotations:
    kubernetes.io/ingress.class: traefik-external
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`grafana.{{ domain }}`)
      kind: Rule
      services:
        - name: kube-prometheus-stack-grafana
          port: 80
      middlewares:
        - name: authelia-forward-auth
          namespace: security
  tls:
    secretName: "{{ lookup('community.hashi_vault.vault_read', 'secret/homelab/grafana/tls') }}"
