apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: vault
  namespace: vault
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`{{ vault_hostname }}`)
      kind: Rule
      services:
        - name: vault
          port: 8200
