---
apiVersion: v1
kind: List
items:
  - apiVersion: argoproj.io/v1alpha1
    kind: Application
    metadata:
      name: bitwarden
      namespace: argocd
    spec:
      project: default
      source:
        repoURL: '{{ bitwarden_repo_url }}'
        targetRevision: '{{ bitwarden_repo_revision }}'
        path: bitwarden
      destination:
        server: '{{ server_url }}'
        namespace: bitwarden
  - apiVersion: argoproj.io/v1alpha1
    kind: Application
    metadata:
      name: supabase
      namespace: argocd
    spec:
      project: default
      source:
        repoURL: '{{ supabase_repo_url }}'
        targetRevision: '{{ supabase_repo_revision }}'
        path: supabase
      destination:
        server: '{{ server_url }}'
        namespace: supabase
  - apiVersion: argoproj.io/v1alpha1
    kind: Application
    metadata:
      name: coder
      namespace: argocd
    spec:
      project: default
      source:
        repoURL: '{{ coder_repo_url }}'
        targetRevision: '{{ coder_repo_revision }}'
        path: coder
      destination:
        server: '{{ server_url }}'
        namespace: coder
  - apiVersion: argoproj.io/v1alpha1
    kind: Application
    metadata:
      name: kasm
      namespace: argocd
    spec:
      project: default
      source:
        repoURL: '{{ kasm_repo_url }}'
        targetRevision: '{{ kasm_repo_revision }}'
        path: kasm
      destination:
        server: '{{ server_url }}'
        namespace: kasm
  - apiVersion: argoproj.io/v1alpha1
    kind: Application
    metadata:
      name: pihole
      namespace: argocd
    spec:
      project: default
      source:
        repoURL: '{{ pihole_repo_url }}'
        targetRevision: '{{ pihole_repo_revision }}'
        path: pihole
      destination:
        server: '{{ server_url }}'
        namespace: pihole
  - apiVersion: argoproj.io/v1alpha1
    kind: Application
    metadata:
      name: puter
      namespace: argocd
    spec:
      project: default
      source:
        repoURL: '{{ puter_repo_url }}'
        targetRevision: '{{ puter_repo_revision }}'
        path: puter
      destination:
        server: '{{ server_url }}'
        namespace: puter
  - apiVersion: argoproj.io/v1alpha1
    kind: Application
    metadata:
      name: searxng
      namespace: argocd
    spec:
      project: default
      source:
        repoURL: '{{ searxng_repo_url }}'
        targetRevision: '{{ searxng_repo_revision }}'
        path: searxng
      destination:
        server: '{{ server_url }}'
        namespace: searxng
  - apiVersion: argoproj.io/v1alpha1
    kind: Application
    metadata:
      name: gitea
      namespace: argocd
    spec:
      project: default
      source:
        repoURL: '{{ gitea_repo_url }}'
        targetRevision: '{{ gitea_repo_revision }}'
        path: gitea
      destination:
        server: '{{ server_url }}'
        namespace: gitea
  - apiVersion: argoproj.io/v1alpha1
    kind: Application
    metadata:
      name: homepage
      namespace: argocd
    spec:
      project: default
      source:
        repoURL: '{{ homepage_repo_url }}'
        targetRevision: '{{ homepage_repo_revision }}'
        path: homepage
      destination:
        server: '{{ server_url }}'
        namespace: homepage
  - apiVersion: argoproj.io/v1alpha1
    kind: Application
    metadata:
      name: gluetun
      namespace: argocd
    spec:
      project: default
      source:
        repoURL: '{{ gluetun_repo_url }}'
        targetRevision: '{{ gluetun_repo_revision }}'
        path: gluetun
      destination:
        server: '{{ server_url }}'
        namespace: gluetun
  - apiVersion: argoproj.io/v1alpha1
    kind: Application
    metadata:
      name: home-assistant
      namespace: argocd
    spec:
      project: default
      source:
        repoURL: '{{ home_assistant_repo_url }}'
        targetRevision: '{{ home_assistant_repo_revision }}'
        path: home-assistant
      destination:
        server: '{{ server_url }}'
        namespace: home-assistant
  - apiVersion: argoproj.io/v1alpha1
    kind: Application
    metadata:
      name: mariadb
      namespace: argocd
    spec:
      project: default
      source:
        repoURL: '{{ mariadb_repo_url }}'
        targetRevision: '{{ mariadb_repo_revision }}'
        path: mariadb
      destination:
        server: '{{ server_url }}'
        namespace: mariadb
  - apiVersion: argoproj.io/v1alpha1
    kind: Application
    metadata:
      name: monitoring
      namespace: argocd
    spec:
      project: default
      source:
        repoURL: '{{ monitoring_repo_url }}'
        targetRevision: '{{ monitoring_repo_revision }}'
        path: monitoring
      destination:
        server: '{{ server_url }}'
        namespace: monitoring
  - apiVersion: argoproj.io/v1alpha1
    kind: Application
    metadata:
      name: tailscale
      namespace: argocd
    spec:
      project: default
      source:
        repoURL: '{{ tailscale_repo_url }}'
        targetRevision: '{{ tailscale_repo_revision }}'
        path: tailscale
      destination:
        server: '{{ server_url }}'
        namespace: tailscale
  - apiVersion: argoproj.io/v1alpha1
    kind: Application
    metadata:
      name: wireguard
      namespace: argocd
    spec:
      project: default
      source:
        repoURL: '{{ wireguard_repo_url }}'
        targetRevision: '{{ wireguard_repo_revision }}'
        path: wireguard
      destination:
        server: '{{ server_url }}'
        namespace: wireguard
