apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: argocd-server-ingress
  namespace: argocd
  annotations:
    kubernetes.io/ingress.class: traefik-external
    traefik.ingress.kubernetes.io/router.middlewares: authelia@traefik
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`argocd.{{ domain }}`)
      kind: Rule
      services:
        - name: argocd-server
          port: 80
  tls:
    secretName: "{{ lookup('community.hashi_vault.vault_read', 'secret/homelab/argocd/tls') }}"
