[Unit]
Description=MinIO
Documentation=https://docs.min.io
Wants=network-online.target
After=network-online.target

[Service]
User=minio
Group=minio
Environment="MINIO_ROOT_USER={{ service_user }}"
Environment="MINIO_ROOT_PASSWORD={{ service_password }}"
ExecStart=/usr/local/bin/minio server {{ minio_data_dir }}

[Install]
WantedBy=multi-user.target
